html body{
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReq3m8ZX8pAa5FJQethYEOpyHHN1H7LyC-NRDWXEWnhPG_l3cX");
    background-size: cover;
    background-repeat: no-repeat;
   
}